doctype html
html(lang="re-RU")
	meta(charset="UTF-8")
	title Test
	link(rel="stylesheet" href="css/main.css")
	body
		p(class="test") TEST!!!!!!!
		p(class="test2") TEST!!!!!!!
		p(class="test2") TEST!!!!!!!
		p(class="test2") TEST!!!!!!!
		p(class="test2") TEST!!!!!!!









		script(src="js/main.js")